/*
* @Author: HP
* @Date:   2018-11-07 11:11:46
* @Last Modified by:   HP
* @Last Modified time: 2018-11-07 11:39:58
*/
/* 媒体查询  屏幕的宽度   （最小宽320px） */
@media screen and (min-width: 320px){
	html{
		font-size: calc(320/750*100px);
	}
}
@media screen and (min-width: 360px){
	html{
		font-size: calc(360/750*100px);
	}
}
@media screen and (min-width: 375px){
	html{
		font-size: calc(375/750*100px);
	}
}
@media screen and (min-width: 411px){
	html{
		font-size: calc(411/750*100px);
	}
}
@media screen and (min-width: 414px){
	html{
		font-size: calc(414/750*100px);
	}
}
@media screen and (min-width: 750px){
	html{
		font-size: calc(750/750*100px);
	}
}
@media screen and (min-width: 768px){
	html{
		font-size: calc(768/750*100px);
	}
}
@media screen and (min-width: 1024px){
	html{
		font-size: calc(1024/750*100px);
	}
}